{
	"containers": [
		{ "name": "postgres", "username": "username", "database": "database" },
		{ "name": "postgres", "username": "username", "database": "database" },
		{ "name": "postgres", "username": "username", "database": "database" }
	]
}
